.cover-box{
    width: 230px;
    height: 350px;
    background-color: #5c5470;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border: solid #dbd8e3 1px;
}

.cover-img:hover{
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
}

.cover-img {
    width: 230px;
    height: 350px;
    position: relative;
    bottom: 350px;
    border-radius: 5px
}

.card {
    height: 370px;
    padding: 40px;
}

#info-box{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 20px;
    left: 10px;
    opacity: 1
}

#title{
    word-wrap: break-word;
    color: white;
    font-size: 20pt;
}

#author{
    word-wrap: break-word;
    color: white
}

#forum-info{
    position: relative;
    bottom: 350px;
}
