#about-background{
    background-image: url('https://bookup-project.s3.us-east-2.amazonaws.com/A-wallpaper-displaying-a-reclaimed-wood-bookshelf-adorned-with-vintage-books-and-knick-knacks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-container{
    background-color: rgb(70, 70, 70);
    opacity: 80%;
    margin: 100px;
    padding: 50px;
    width: 500px;
    border-radius: 10px;
}
#about-container p {
    text-align: justify;
    text-indent: 10%;
    font-size: 16pt;
}
