.profile-dropdown {
  position: absolute;
}
#nav-bar {
  border-bottom: 1px solid #5c5470;
  height: 50px;
  font-size: 15pt;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 9999;
  background: #2a2438;
}

#nav-buttons {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;

}

#home-button {
  padding-left: 10px;
  font-size: 30px;
  font-family: 'Gill Sans', sans-serif;
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  bottom: 5px;
}

#up-logo{
  color: #fe7920
}

#book-logo{
  font-size: 40px;
  position: relative;
  top: 8px;
  left: 2px;
}

#create-book{
  padding: 10px;
}

#create-book:hover{
  cursor: pointer;
  background-color: #5c5470;
  border-radius: 20px;
}
